html, body {
    margin: 10px;
    padding: 0;
    background-color: #384047;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 20px;
}

#scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
}


#player1 {
    float: left;
    width: 40%;
}
#player2 {
    display: inline-block;
    width: 40%;
    margin-left: 200px;
}


h3 {
    margin-bottom: 0;
}

button {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 400px;
    height: 40px;
    font-size: 16px;
    align-items: center;
    background-color: black;
    color: white;
    border: none;
}
